@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.symbolsIcon {
  position: absolute;
  height: 96.97%;
  width: 99.82%;
  top: 1.59%;
  right: 0.18%;
  bottom: 1.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fickleflightLogo {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 174px;
  height: 33px;
  flex-shrink: 0;
  overflow: hidden;
}
.explore,
.fickleflightLogo,
.offers,
.search {
  position: relative;
  cursor: pointer;
}
.offers,
.search {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--components-button-large);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: inline-block;
}
.offers {
  color: var(--color-darkslategray-200);
}
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xl);
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.unsplashd1upkifd04aIcon {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.accountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navigationRight {
  justify-content: flex-end;
  gap: var(--gap-17xl);
}
.navigationRight,
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainer {
  flex: 1;
  justify-content: space-between;
}
.topHeader {
  align-self: stretch;
  background-color: var(--primary-contrast);
  height: 77px;
  flex-shrink: 0;
  padding: var(--padding-3xl) var(--padding-61xl);
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--components-button-large);
}
.bannerBackgroundIcon,
.bannerGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
}
.bannerGradient {
  top: 0;
  bottom: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
}
.bannerBackgroundIcon {
  top: 0.4px;
  bottom: -0.4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.whereAreYou {
  align-self: stretch;
  position: relative;
  line-height: 67px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.departureField,
.title {
  align-self: stretch;
}
.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-8xs);
  align-items: center;
  justify-content: center;
}
.inputsRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--primary-contrast);
  text-align: center;
  display: inline-block;
  width: 146.98px;
}
.buttonGroup,
.searchFlightsButton,
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFlightsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
  transition: 0.3s;
}
.searchFlightsButton:hover {
  background-color: var(--color-darkorange);
}
.buttonGroup,
.searchForm {
  padding: var(--padding-8xs);
}
.searchForm {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  flex-direction: row;
  padding: var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.searchSection {
  position: absolute;
  width: 100%;
  top: calc(50% - 96.5px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.searchContainer {
  align-self: stretch;
  position: relative;
  height: 362px;
  flex-shrink: 0;
}
.searchFormSection {
  align-self: stretch;
  background: linear-gradient(100.3deg, #114f8b, #2a9ad7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-baloo-bhai);
}
.results {
  position: relative;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 219.41px;
}
.frameChild {
  position: relative;
  width: 228px;
  height: 1px;
  flex-shrink: 0;
}
.resultsParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.resultsSummary {
  position: relative;
  width: 228px;
  height: 47px;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}
.results1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 65.26px;
}
.component1formcheckbox {
  position: absolute;
  top: 50px;
  left: 0;
}
.component1formcheckbox1 {
  position: absolute;
  top: 86px;
  left: 0;
}
.stops {
  position: relative;
  width: 296.62px;
  height: 106px;
  flex-shrink: 0;
}
.results2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 189.03px;
}
.bookingOptions {
  position: relative;
  width: 221px;
  height: 106px;
  flex-shrink: 0;
}
.results3 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 198.04px;
}
.flightExperience {
  position: relative;
  width: 310.8px;
  height: 106px;
  flex-shrink: 0;
}
.results4 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 87.77px;
}
.airlines {
  position: relative;
  width: 181px;
  height: 106px;
  flex-shrink: 0;
}
.searchFilters {
  width: 253px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
}
.results5 {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.26px;
  color: var(--color-lightslategray);
}
.turkishIcon {
  position: relative;
  width: 34.77px;
  height: 46px;
  flex-shrink: 0;
}
.singaporeAirlines {
  position: relative;
  letter-spacing: 0.26px;
}
.airlineSection {
  width: 20%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.am,
.sin {
  position: absolute;
  left: 0;
  display: inline-block;
}
.am {
  width: 100%;
  top: 0;
  letter-spacing: 0.32px;
  font-weight: 500;
}
.sin {
  width: 79.51%;
  top: 63.46%;
  font-size: var(--typography-body-1-size);
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
}
.departureDetails {
  position: relative;
  width: 93px;
  height: 52px;
  flex-shrink: 0;
}
.flighticon {
  position: absolute;
  height: 27.46%;
  width: 88.52%;
  top: 0;
  right: 5.5%;
  bottom: 72.54%;
  left: 5.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.h55mNonStop {
  position: absolute;
  top: 65.45%;
  left: 0;
  letter-spacing: 0.21px;
}
.flightduration,
.sin1 {
  font-size: var(--typography-body-1-size);
}
.flightduration {
  position: relative;
  width: 121px;
  height: 55px;
  flex-shrink: 0;
  text-align: center;
  color: var(--color-gray-100);
}
.sin1 {
  position: absolute;
  width: 81.25%;
  top: 63.46%;
  left: 17.65%;
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
  display: inline-block;
}
.arrivalDetails {
  position: relative;
  width: 91px;
  height: 52px;
  flex-shrink: 0;
  text-align: right;
}
.flightDetailsSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-2xl);
  color: var(--color-cornflowerblue-100);
}
.priceSectionChild {
  position: relative;
  width: 1px;
  height: 100px;
  flex-shrink: 0;
}
.s730 {
  flex: 1;
  position: relative;
  letter-spacing: 0.34px;
}
.flightCard,
.priceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.priceSection {
  width: 128px;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-orange-100);
}
.flightCard {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--primary-contrast);
  border: 0.7px solid var(--color-lightgray);
  padding: 0 var(--padding-7xs) 0 var(--padding-6xl);
  gap: var(--gap-31xl);
}
.flighticon1 {
  position: absolute;
  height: 27.46%;
  width: 83.03%;
  top: 0;
  right: 8.26%;
  bottom: 72.54%;
  left: 8.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flightduration1 {
  position: relative;
  width: 129px;
  height: 55px;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--typography-body-1-size);
  color: var(--color-gray-100);
}
.japanIcon {
  transform: scale(0.8);
}
.americanAirlinesIcon,
.japanIcon {
  position: relative;
  width: 34.77px;
  height: 46px;
  flex-shrink: 0;
}
.primaryButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.searchFlights {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 81.5px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--primary-contrast);
  text-align: center;
}
.primaryButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 220px;
  height: 72px;
  flex-shrink: 0;
}
.primaryButton:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.flightCards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.recentlyBookedTitleChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.recentlyBookedTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.airlinelogoIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.airline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.price {
  position: relative;
  font-size: var(--typography-body-1-size);
  line-height: 24px;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: right;
}
.airlinePrice {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.depcode {
  position: relative;
  font-weight: 600;
}
.depname {
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
}
.departure {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.flightIcon {
  position: relative;
  width: 48.83px;
  height: 11.96px;
  flex-shrink: 0;
}
.arrname {
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
  text-align: right;
}
.arrival,
.locations {
  display: flex;
  justify-content: flex-start;
}
.arrival {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-11xs);
}
.locations {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  gap: var(--gap-6xs);
  font-size: var(--typography-body-1-size);
  color: var(--color-cornflowerblue-100);
}
.classIcon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.flightclass {
  position: relative;
  line-height: 16px;
}
.class,
.details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.class {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.details {
  align-self: stretch;
  border-radius: var(--br-9xs);
  align-items: center;
  gap: var(--gap-xl);
}
.expedia {
  color: var(--color-royalblue);
}
.timeago {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  color: var(--color-orange-100);
}
.provider {
  border-top: 1px solid var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-5xs) 0 0;
  align-items: center;
  justify-content: space-between;
}
.bookingCard,
.provider,
.showMore {
  align-self: stretch;
  display: flex;
}
.bookingCard {
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-whitesmoke-200);
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.showMore {
  border-radius: 3px;
  background-color: rgba(18, 98, 175, 0.06);
  flex-direction: row;
  padding: 7px var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--color-cornflowerblue-100);
}
.bookingCards,
.recentlyBooked {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bookingCards {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
  font-family: var(--font-inter);
}
.recentlyBooked {
  border-radius: var(--br-7xs);
  background-color: var(--primary-contrast);
  width: 257px;
  flex-shrink: 0;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 18px;
  color: var(--color-cornflowerblue-200);
}
.resultsSection,
.searchResults {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.resultsSection {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--typography-body-1-size);
}
.searchResults {
  align-self: stretch;
  padding: var(--padding-31xl) var(--padding-61xl);
  justify-content: center;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-200);
}
.newsletterSectionBackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 530px;
  object-fit: cover;
}
.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitle {
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.fillInYour {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 34px;
  font-family: var(--components-button-large);
  color: var(--color-slategray);
  text-align: left;
}
.fillInYour,
.formText,
.input {
  align-self: stretch;
}
.formText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  border: 0;
  background-color: transparent;
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button2 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--primary-contrast);
  text-align: left;
}
.unstyledbutton {
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-3xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.button1,
.form,
.subscribeForm,
.unstyledbutton {
  display: flex;
  flex-direction: column;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.button1:hover {
  background-color: var(--color-darkorange);
}
.form,
.subscribeForm {
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke-200);
  padding: var(--padding-9xl) var(--padding-11xl);
  align-items: flex-start;
  gap: var(--gap-mid);
}
.subscribeForm {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-11xl);
  margin-left: auto;
  margin-right: auto;
}
.logoIcon,
.newsletterFormSection {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.newsletterFormSection {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  height: 529px;
}
.logoIcon {
  width: 174px;
  height: 33px;
}
.fickleFlightIs {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
  flex-shrink: 0;
}
.fickleflightBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  margin-bottom: 40px !important;
}
.seperator {
  position: relative;
  border-right: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
  flex-shrink: 0;
}
.aboutUs {
  top: 47.76px;
  width: 135.67px;
}
.aboutUs,
.careers,
.company1,
.howWeWork,
.news {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company1 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careers,
.howWeWork,
.news {
  top: 78.76px;
  width: 84.28px;
}
.careers,
.howWeWork {
  top: 109.76px;
  width: 115.11px;
}
.howWeWork {
  top: 140.76px;
  width: 197.33px;
}
.company {
  position: relative;
  width: 197.33px;
  height: 159.76px;
  flex-shrink: 0;
}
.account,
.support1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.support1 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.accessibility,
.faq,
.supportCenter {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.33px;
}
.accessibility,
.faq {
  top: 109.76px;
  width: 52.99px;
}
.accessibility {
  top: 140.76px;
  width: 164.44px;
}
.covidAdvisory {
  top: 47.76px;
  width: 172.87px;
}
.airlineFees,
.covidAdvisory,
.more1,
.tips {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more1 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airlineFees,
.tips {
  top: 78.76px;
  width: 135.36px;
}
.tips {
  top: 109.76px;
  width: 50.56px;
}
.more {
  position: relative;
  width: 197.33px;
  height: 159.76px;
  flex-shrink: 0;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--typography-body-1-size);
}
.footer,
.footerSection,
.resultsPage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: var(--padding-14xl) var(--padding-65xl);
  gap: var(--gap-25xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-contrast);
  font-family: var(--components-button-large);
}
.footerSection,
.resultsPage {
  flex-direction: column;
}
.footerSection {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-200);
}
.resultsPage {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-42xl);
  color: var(--primary-contrast);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 1200px) {
  .topHeader {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .searchFilters {
    display: none;
  }
  .footer,
  .searchResults {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigationMenu {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .topHeader {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .whereAreYou {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .inputsRow {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .searchFlightsButton {
    margin-right: auto;
  }
  .buttonGroup {
    width: 100%;
    text-align: left;
  }
  .searchForm {
    flex-direction: column;
  }
  .searchSection {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    width: 100%;
    top: calc(44% - 96.5px - 0px);
  }
  .airlineSection {
    flex-direction: column;
  }
  .flightCards {
    flex: unset;
    align-self: stretch;
  }
  .recentlyBooked {
    width: 100%;
  }
  .resultsSection {
    flex-direction: column;
    gap: 80;
  }
  .searchResults,
  .subscribeForm {
    padding: var(--padding-xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .subscribeForm {
    padding: var(--padding-5xl) 0;
  }
  .fickleflightBio {
    flex: unset;
    align-self: stretch;
  }
  .seperator {
    display: none;
  }
  .footerLinks {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigationRight {
    display: flex;
  }
  .whereAreYou {
    font-size: 31px;
    line-height: 40px;
  }
  .inputGroup {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputsRow {
    flex-direction: column;
  }
  .searchFlightsButton {
    width: 100% !important;
  }
  .searchSection {
    width: 100%;
    top: calc(32% - 96.5px - 0px);
  }
  .searchContainer {
    height: 480px;
  }
  .turkishIcon {
    transform: scale(0.8);
  }
  .airlineSection {
    flex-direction: row;
    width: 100% !important;
  }
  .flightduration {
    transform: scale(0.9);
  }
  .flightDetailsSection {
    flex: unset;
    align-self: stretch;
  }
  .priceSectionChild {
    display: none;
  }
  .flightCard {
    flex-direction: column;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .flightduration1 {
    transform: scale(0.9);
  }
  .button1 {
    width: 100%;
  }
  .button1:hover {
    background-color: var(--color-orange-200);
  }
  .subscribeForm {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company {
    margin-bottom: 40px !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footer {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .am,
  .sin {
    font-size: var(--typography-body-1-size);
  }
  .departureDetails {
    width: 80px;
  }
  .h55mNonStop {
    font-size: var(--font-size-smi);
  }
  .sin1 {
    font-size: var(--typography-body-1-size);
  }
  .arrivalDetails {
    width: 80px;
  }
}
